<style>
  .closedFormsHeader {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    overflow: hidden;
  }

  .query {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  .query button {
    max-width: 200px;
  }

  .query label {
    width: unset;
  }

  @media screen and (max-width: 500px) {
    .closedFormsHead {
      display: none;
    }
  }
</style>
