  .inactive td:not(:first-child) {
    font-style: italic;
  }

  .inactive img {
    background-color: gainsboro;
  }

  .active img {
    background-color: forestgreen;
  }

  .late img {
    background-color: red;
  }

  .endingSoon img {
    background-color: yellow;
  }

  .new {
    background-color: yellow;
  }
