  .toast {
    animation-duration: 2s, 5s;
    animation-name: slide-up, fade-out;
    animation-timing-function: ease-out;
    background-color: limegreen;
    border: 1px solid black;
    border-radius: 2px;
    bottom: 10%;
    left: 50%;
    padding: 1em;
    position: fixed;
    opacity: 0;
    z-index: 1;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-up {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 10%;
    }
  }
