<script>
  "use strict";
  /* exported env */
  const env = (function () {
    return {
      locations: new Set(["Room A", "Room B"]), // populates the location select
      notLoadingMessage:
        "a friendly message users see when the app hangs on the loading page",
    };
  })();
</script>
