<script>
  /* global DateUtils Form HTML Item Utility */
  /* exported CheckInButton */
  function CheckInButton({ form, item, disabled, onChange, quantity }) {
    const { createElement } = HTML;
    const { is, range, replace } = Utility;
    const { getFormattedDateTime } = DateUtils;

    if (item.missing) {
      return createElement("span", {
        class: "alert",
        textContent: "ITEM IS MISSING",
      });
    }

    if (disabled || item.isStagedForIn() || item.isIn()) {
      return document.createTextNode(item.timeCheckedInByClient);
    }

    if (item.isStagedForOut() || item.isReserved()) {
      return createElement("button", {
        class: "create",
        textContent: "Remove",
        onClick: () => {
          onChange({
            form: new Form({
              ...form,
              items: form.items.filter(
                (i) => i.isStagedForOut() && Item.similar(item, i)
              ),
            }),
            change: {
              target: {
                name: "items",
                value: item.description + " removed",
              },
            },
          });
        },
      });
    }

    // item must be checked out
    if (item.quantity > 1) {
      const quantitySelect = createElement("select", {
        class: "selectQuantity",
        children: [
          createElement("option", {
            value: "all",
            textContent: "All",
          }),
          ...Array.from({ length: quantity - 1 }).map((_, i) =>
            createElement("option", {
              textContent: String(i + 1),
            })
          ),
        ],
      });
      return createElement("span", {
        children: [
          createElement("button", {
            class: "action",
            textContent: "Check In",
            onClick: () =>
              onChange({
                form: new Form({
                  ...form,
                  items: [
                    ...form.items.filter(
                      (i) => !i.isOut() || !Item.similar(i, item)
                    ),
                    ...range(+quantitySelect.value).map(
                      () =>
                        new Item({
                          ...item,
                          timeCheckedInByClient: getFormattedDateTime(
                            new Date()
                          ),
                        })
                    ),
                  ],
                }),
                change: {
                  target: {
                    name: "items",
                    value: `${item.id || item.description} check-in ${
                      quantitySelect.value
                    }`,
                  },
                },
              }),
          }),
          quantitySelect,
        ],
      });
    }
    return createElement("button", {
      class: "action",
      textContent: "Check In",
      onClick: () =>
        onChange({
          form: new Form({
            ...form,
            items: replace(
              form.items,
              is(item),
              new Item({
                ...item,
                timeCheckedInByClient: getFormattedDateTime(new Date()),
              })
            ),
          }),
          change: {
            target: {
              name: "items",
              value: `${item.id || item.description} check-in`,
            },
          },
        }),
    });
  }
</script>
