<script>
  /* global CheckInButton CheckOutButton Form HTML Item QuantityButtons */
  /* exported FormItem */
  /**
   * FormItem can represent a single item or a collection of nonserialized items
   * It takes an array of items that are assumed to be similar
   */
  function FormItem({ disabled, form, items, onChange, onClickItem }) {
    const { cell, createElement, heading1, modal, paragraph, row } = HTML;
    // take the first item as the representative slice for detail info
    const [item] = items;
    const quantity = items.length;
    return [
      row({
        class: [
          item.serialized ? "serialized" : "nonserialized",
          disabled ? "" : "hoverBlue",
        ].join(" "),
        children: [
          cell({
            child: QuantityButtons({
              form,
              item,
              disabled,
              onChange,
              quantity,
            }),
          }),
          cell(item.description),
          cell(item.id),
          cell(
            item.timeCheckedOutByClient
              ? item.timeCheckedOutByClient
              : {
                  child: item.serialized
                    ? createElement("i", {
                        textContent: "Scan barcode to check out",
                      })
                    : CheckOutButton({ form, item, onChange }),
                }
          ),
          cell({
            child: CheckInButton({ form, item, disabled, onChange, quantity }),
          }),
        ],
        onClick: (event) => onClickItem(event, item),
      }),
      row({
        class: disabled ? "" : "hoverBlue",
        child: cell({
          colspan: 5,
          class: "itemnotes",
          textContent: "Notes: " + item.notes,
          onClick: () => {
            if (disabled) return;
            const input = createElement("textarea", {
              textContent: item.notes,
            });
            modal({
              children: [
                heading1("Add notes to item"),
                paragraph(
                  [item.description, item.id ? `(${item.id})` : ""].join(" ")
                ),
                input,
              ],
              okText: "Add notes",
              onOk: () =>
                onChange({
                  form: new Form({
                    ...form,
                    items: items.map((i) =>
                      Item.similar(i, item)
                        ? new Item({ ...item, notes: input.value })
                        : i
                    ),
                  }),
                  change: {
                    target: {
                      name: "items",
                      value: `${item.id || item.description} note: ${
                        input.value
                      }`,
                    },
                  },
                }),
            });
          },
        }),
      }),
    ];
  }
</script>
