<script>
  /* global HTML */
  /* exported LoadingPage */
  function LoadingPage({ rosterStatus, inventoryStatus, openFormsStatus }) {
    const { createElement, page } = HTML;
    return page({
      name: "loading",
      children: [
        createElement("h2", { textContent: "Loading app data..." }),
        createElement("ul", {
          class: "loadingList",
          children: [
            createElement("li", {
              id: "loadingRoster",
              textContent: rosterStatus,
            }),
            createElement("li", {
              id: "loadingInventory",
              textContent: inventoryStatus,
            }),
            createElement("li", {
              id: "loadingOpenForms",
              textContent: openFormsStatus,
            }),
          ],
        }),
      ],
    });
  }
</script>
